.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-image {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.feature-card1-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.feature-card1-text {
  color: var(--dl-color-gray-black80);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card1-container1 {
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: repeat(5,1fr);
}
.feature-card1-icon {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.feature-card1-icon02 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.feature-card1-icon04 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.feature-card1-icon06 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.feature-card1-icon08 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.feature-card1-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.feature-card1-currency {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.feature-card1-value {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
















